@model CustomerDetailsVM

<h1>Customer Details</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Add New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Age
            </th>
            <th>
                E-Mail
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                BirthDate
            </th>
            <th>
                Created Date
            </th>
            <th>
                Updated Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Id
            </td>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Surname
            </td>
            <td>
                @Model.Age
            </td>
            <td>
                @Model.MailAddress
            </td>
            <td>
                @Model.PhoneNumber
            </td>
            <td>
                @Model.BirthDate.ToShortDateString()
            </td>
            <td>
                @Model.CreatedDate
            </td>
            <td>
                @Model.UpdatedDate
            </td>
            <td>
                <a class="btn btn-success" asp-action="Index">Home Page</a>
                <a class="btn btn-warning" asp-action="Update" asp-route-id="@Model.Id">Update</a>
            </td>
        </tr>

    </tbody>
</table>
