@model IEnumerable<CustomerListVM>

<p>
    <a class="btn btn-primary" asp-action="Create">Add New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                E-Mail Adress
            </th>
            <th>
                Phone Number
            </th>
            <th>
               Birth Date
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.MailAddress
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.BirthDate
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-itemid="@item.Id">Details</a>
                    <a class="btn btn-warning" asp-action="Update" asp-route-itemid="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-itemid="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
